.add-line-form-wrap{
	margin: 20px 0;
	border: 1px solid #c3c3c3;
	padding: 20px 10px;
}

.add-line-form-title{
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #c3c3c3;

	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.3em;
}

.add-line-form-body{

}

.table-full{
	width: 100%;
}
